node_modules
# Keep environment variables out of version control
.env

# Ignore .npmignore
.npmignore

# Ignore .vscode
.vscode

# Ignore build folder
build

# Ignore dist folder
dist

# Ignore .DS_Store
.DS_Store 
 
# Ignore package-lock.json
package-lock.json
yarn.lock

# Ignore .git folder
.git